#wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background:linear-gradient(rgb(226, 226, 226),rgb(76, 76, 76))
}
#section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#main{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* background: red; */
    width: 60%;
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
}

#container img{
    aspect-ratio: 1/1;
    height: 500px;
    border: 5px dashed black;
    border-radius: 50%;

}

#container p{
    font-size: 2rem;
}

#main a{
    text-decoration: none;
    background:black;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

#wrapper hr{
    height: 5px;
    width:70%;
    background: #000;
    /* margin-left: 15%; */
}

#wrapper h1{
    color:white;
}
#skills{
    display: flex;
    align-items:start;
    flex-direction: column;
    width: 70%;
    font-size:2rem;
    color: rgb(255, 255, 255);
}

#skills p{
    margin: 25px;
    padding: 5px;
}

#skills strong{
    font-size: 2.5rem;
}