#section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(223, 218, 218),rgb(65, 64, 64))
}

#main{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* background: red; */
    width: 60%;
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
}

#container img{
    aspect-ratio: 1/1;
    height: 500px;
    border-radius:50%;
    border:5px solid black;
}

#container p{
    font-size: 2rem;
}

#main a{
    text-decoration: none;
    background:black;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}